<div class="about-wrapper">
    <div class="upper-section">
        <div class="t-fit-logo">
            <img src="assets/t-fit-logo-full.png">
        </div>
        <div class="upper-section-header">
            <h1>The best High quality, high-performance, long lasting insulation solution</h1>
            
        </div>
        <div class="upper-section-tfit-img">
            <img src="assets/group-tfit-1.png" alt="grp-tfit" loading="lazy" class="grp-tfit-img">
        </div>
        <div class="image-desc-wrapper-desktop">
            <div class="desc-left-col">
                <div class="desc-left-col-row-1">
                    <div class="left-col-row-1-text">
                    FOR DEMANDING HIGHLY-CONTROLLED ENVIRONMENTS
                    ROBUST AND DURABLE
                </div>
                <div class="left-seperator">
                    <span class="element-divider"> <hr></span>
                </div>
                </div>
                <div class="desc-left-col-row-2">
                    <div class="left-col-row-2-text">
                        ODOUR-FREE,
                        NON-SHEDDING,
                        NON-TOXIC MATERIAL
                        NO VOCs
                </div>
                <div class="left-seperator">
                    <span class="element-divider" > <hr></span>
                </div>
                </div>
            </div>
            <div class="desc-right-col">
                <div class="desc-right-col-row-1">
                    <div class="right-col-row-1-text">
                        LOW LIFETIME COST OF OWNERSHIP
                        UP TO 10 YEAR
                        REFIT INTERVALS
                </div>
                <div class="right-seperator">
                    <span class="element-divider" > <hr></span>
                </div>
                </div>
                <div class="desc-right-col-row-2">
                    <div class="right-col-row-2-text">
                        ODOUR-FREE,
                        NON-SHEDDING,
                        NON-TOXIC MATERIAL
                        NO VOCs
                </div>
                <div class="right-seperator">
                    <span class="element-divider"> <hr></span>
                </div>
                </div>
                <div class="desc-right-col-row-3">
                    <div class="right-col-row-3-text">
                        COMPACT PROFILE
                        QUICK AND EASY INSTALLATION
                </div>
                <div class="right-seperator">
                    <span class="element-divider"> <hr></span>
                </div>
                </div>
            </div>
        </div>
        <div class="image-desc-wrapper-mobile">
            <div class="img-desc">
                FOR DEMANDING HIGHLY-CONTROLLED ENVIRONMENTS
                    ROBUST AND DURABLE
            </div>
            <div class="img-desc">
                ODOUR-FREE,
                NON-SHEDDING,
                NON-TOXIC MATERIAL
                NO VOCs
            </div>
            <div class="img-desc">
                LOW LIFETIME COST OF OWNERSHIP
                UP TO 10 YEAR
                REFIT INTERVALS
            </div>
            <div class="img-desc">
                ODOUR-FREE,
                NON-SHEDDING,
                NON-TOXIC MATERIAL
                NO VOCs
            </div>
        </div>
    </div>
    <div class="lower-section">
        <div class="lower-section-header-1">
            <div class="lower-section-header-text">
                The safest choice — for products, people and profits
            </div>
        </div>
        
        <div class="swiper-1">
            <div class="swiper-1-desc">
                Decide on T-FIT insulation and know you’ve chosen the safest solution. Not only does the T-FIT range combine the highest performance with the highest levels of protection from an insulation material, but a service life measured in years makes for a Total Cost of Ownership that boosts the bottom line.
            </div>
        <swiper
        [slidesPerView]="3"
        [spaceBetween]="30"
        [centeredSlides]="false"
        [loop]="true"
        [speed]="5000"
        disableOnInteraction="true"
        [navigation]="true"
        class="mySwiper"
        [autoplay]={delay:0}
      >
        <ng-template swiperSlide class="slide1"> <img class= "swiper-img" src="assets/condensation.jpg" width="100%" height="100%">
        <div class="swiper-header">
            Safe from condensation
        </div>
        <div class="swiper-header-desc">
            Every T-FIT product features the same completely closed-cell inherently hydrophobic structure to resist moisture and prevent condensation — even under conditions of extreme temperature fluctuations.
        </div>
        
        </ng-template>
        <ng-template swiperSlide><img class= "swiper-img" src="assets/fungus.jpg" width="100%" height="100%"><div class="swiper-header">
            Safe from fungus
        </div>
        <div class="swiper-header-desc">
            A unique manufacturing process and high-grade polymer mean the highest resistance to fungal and microbial growth,making it the perfect insulation for aseptic areas like food and beverage, dairy and personal care.
        </div>
    </ng-template    >
        <ng-template swiperSlide><img class= "swiper-img" src="assets/invisible-danger.jpg" width="100%" height="100%">
            <div class="swiper-header">
                Safe from invisible dangers
            </div>
            <div class="swiper-header-desc">
                The completely closed-cell structure is particulate-, dust- and fibre-free. T-FIT emits almost zero VOCs — for the simple reason there are none involved in the manufacturing process.
            </div>
        </ng-template>
        <ng-template swiperSlide> <img class= "swiper-img" src="assets/fire.jpg" width="100%" height="100%">
            <div class="swiper-header">
                Safe from Fire
            </div>
            <div class="swiper-header-desc">
                T-FIT is the only closed cell foam insulation product that meets or exceeds all relevant global standards for cleanroom insulation,It can also operate at extreme temperature ranges (from -80°C through to +200°C).
            </div>
        </ng-template>
      </swiper>
    </div>
    <div class="lower-section-header-2">
        <div class="lower-section-header-2-text">
            Insulation made easy
        </div>
        
    </div>
    <div class="swiper-2">
        <div class="swiper-2-desc">
            From start to finish, T-FIT makes insulation decisions easy. Installation is simple and straightforward, even when time and space are tight. The modular design of the insulating components makes maintenance inspections a simple ‘open and close’ operation. And with a decade and more of active service ahead, the investment is easy to justify.        </div>
        <swiper
        [slidesPerView]="3"
        [spaceBetween]="30"
        [centeredSlides]="true"
        [loop]="true"
    
        [speed]="5000"
        [autoplay]={delay:0}
        disableOnInteraction="true"
        class="mySwiper"
        >
        <ng-template swiperSlide class="slide1"> 
            <img class= "swiper-img" src="assets/install.jpg" width="100%" height="100%">
            <div class="swiper-header">
                Easy to install
            </div>
            <div class="swiper-header-desc">
                Moving to T-FIT is quick and easy. The closed-cell foam structure is easily thermo- or vacuum-formed into complex shapes, enabling the use of straights, elbows and tees to meet the most demanding pipe work configurations.
            </div>
        </ng-template>
        <ng-template swiperSlide><img class= "swiper-img" src="assets/easy-maintain.jpg" width="100%" height="100%"><div class="swiper-header">
            Easy to maintain        </div>
            <div class="swiper-header-desc">
                T-FIT durability delivers the ultimate resistance to chemicals and cleaning routines. The high-grade PVDF polymer, unique manufacturing process and closed cell structure removes the need for an over-jacket and creates a clean
            </div></ng-template>
        <ng-template swiperSlide><img class= "swiper-img" src="assets/install.jpg" width="100%" height="100%">
            <div class="swiper-header">
                Easy on the eye            </div>
                <div class="swiper-header-desc">
                    With the slimline 6.35mm profile T-FIT’s insulating products create elegant, effective insulation solutions even in the most confined spaces — and keeps performing (and keeps its looks) for years and years.
                </div>
        </ng-template>
        <ng-template swiperSlide> <img class= "swiper-img" src="assets/easy-on-env.jpg" width="100%" height="100%">
            <div class="swiper-header">
                Easy on the environment 
            </div>
            <div class="swiper-header-desc">
                Once installed, T-FIT is there to stay. No more regular ‘stop-remove-dispose’ refits with all the associated waste. With T-FIT it’s a case of ‘fit once and (almost) forget’.
            </div>
        </ng-template>
        
    </swiper>
</div>
<div class="mobile-swiper-1">
    <div class="swiper-1-desc">
        Decide on T-FIT insulation and know you’ve chosen the safest solution. Not only does the T-FIT range combine the highest performance with the highest levels of protection from an insulation material, but a service life measured in years makes for a Total Cost of Ownership that boosts the bottom line.
    </div>
<swiper
[slidesPerView]="1"
[spaceBetween]="40"
[centeredSlides]="false"
[loop]="true"
[speed]="4000"
disableOnInteraction="false "
[navigation]="true"
class="mySwiper"
[autoplay]={delay:0}
>
<ng-template swiperSlide class="slide1"> <img class= "swiper-img" src="assets/condensation.jpg" width="100%" height="100%">
<div class="swiper-header">
    Safe from condensation
</div>
<div class="swiper-header-desc">
    Every T-FIT product features the same completely closed-cell inherently hydrophobic structure to resist moisture and prevent condensation — even under conditions of extreme temperature fluctuations.
</div>

</ng-template>
<ng-template swiperSlide><img class= "swiper-img" src="assets/fungus.jpg" width="100%" height="100%"><div class="swiper-header">
    Safe from fungus
</div>
<div class="swiper-header-desc">
    A unique manufacturing process and high-grade polymer mean the highest resistance to fungal and microbial growth,making it the perfect insulation for aseptic areas like food and beverage, dairy and personal care.
</div>
</ng-template    >
<ng-template swiperSlide><img class= "swiper-img" src="assets/invisible-danger.jpg" width="100%" height="100%">
    <div class="swiper-header">
        Safe from invisible dangers
    </div>
    <div class="swiper-header-desc">
        The completely closed-cell structure is particulate-, dust- and fibre-free. T-FIT emits almost zero VOCs — for the simple reason there are none involved in the manufacturing process.
    </div>
</ng-template>
<ng-template swiperSlide> <img class= "swiper-img" src="assets/fire.jpg" width="100%" height="100%">
    <div class="swiper-header">
        Safe from Fire
    </div>
    <div class="swiper-header-desc">
        T-FIT is the only closed cell foam insulation product that meets or exceeds all relevant global standards for cleanroom insulation,It can also operate at extreme temperature ranges (from -80°C through to +200°C).
    </div>
</ng-template>
</swiper>
</div>
<div class="lower-section-header-2-mobile">
    <div class="lower-section-header-2-text">
        Insulation made easy
    </div>
    
</div>
<div class="mobile-swiper-2">
    <div class="swiper-2-desc">
        From start to finish, T-FIT makes insulation decisions easy. Installation is simple and straightforward, even when time and space are tight. The modular design of the insulating components makes maintenance inspections a simple ‘open and close’ operation. And with a decade and more of active service ahead, the investment is easy to justify.        </div>
    <swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [centeredSlides]="true"
    [loop]="true"

    [speed]="5000"
    [autoplay]={delay:0}
    disableOnInteraction="true"
    class="mySwiper"
    >
    <ng-template swiperSlide class="slide1"> 
        <img class= "swiper-img" src="assets/install.jpg" width="100%" height="100%">
        <div class="swiper-header">
            Easy to install
        </div>
        <div class="swiper-header-desc">
            Moving to T-FIT is quick and easy. The closed-cell foam structure is easily thermo- or vacuum-formed into complex shapes, enabling the use of straights, elbows and tees to meet the most demanding pipe work configurations.
        </div>
    </ng-template>
    <ng-template swiperSlide><img class= "swiper-img" src="assets/easy-maintain.jpg" width="100%" height="100%"><div class="swiper-header">
        Easy to maintain        </div>
        <div class="swiper-header-desc">
            T-FIT durability delivers the ultimate resistance to chemicals and cleaning routines. The high-grade PVDF polymer, unique manufacturing process and closed cell structure removes the need for an over-jacket and creates a clean
        </div></ng-template>
    <ng-template swiperSlide><img class= "swiper-img" src="assets/install.jpg" width="100%" height="100%">
        <div class="swiper-header">
            Easy on the eye            </div>
            <div class="swiper-header-desc">
                With the slimline 6.35mm profile T-FIT’s insulating products create elegant, effective insulation solutions even in the most confined spaces — and keeps performing (and keeps its looks) for years and years.
            </div>
    </ng-template>
    <ng-template swiperSlide> <img class= "swiper-img" src="assets/easy-on-env.jpg" width="100%" height="100%">
        <div class="swiper-header">
            Easy on the environment 
        </div>
        <div class="swiper-header-desc">
            Once installed, T-FIT is there to stay. No more regular ‘stop-remove-dispose’ refits with all the associated waste. With T-FIT it’s a case of ‘fit once and (almost) forget’.
        </div>
    </ng-template>
    
</swiper>
</div>

<div class="accolades">
    <div class="accolades-header">
        Our Accolades
    </div>
    <div class="accolades-list">
        <div class="fm-approvals" (click)="openfmapprovalpdf()">
            <img src="assets/fm-approval.png">
        </div>
        <div class="murphy-and-sons"(click)="openmurphyandsonspdf()">
            <img src="assets/murphy-logo.png">
        </div>
    </div>
</div>
<div class="mobile-accolades">
    <div class="accolades-header">
        Our Accolades
    </div>
    <div class="accolades-list">
        <div class="fm-approvals" (click)="openfmapprovalpdf()">
            <img src="assets/fm-approval.png">
        </div>
        <div class="murphy-and-sons" (click)="openmurphyandsonspdf()">
            <img src="assets/murphy-logo.png">
        </div>
    </div>
   
</div>
</div>
<div class="crompton-wrapper">
    <div class="crompton-logo">
        <img src="assets/clg.png">
         Crompton
     </div>  
     <div class="crompton-slogan">
         Smart solutions. Strong relationships.
     </div>
     
     <div class="crompton-desc">
        "We are one of the leading consumer companies in India with a 75+ years old brand legacy. As of February 2016, we are an independent company under professional management and have 2 business segments – Lighting and Electrical Consumer Durables. We market our products under the “Crompton” brand name in India and select export markets."
     </div>
     <div class="crompton-header-1">
        5 Pillars to achieve our vision
     </div>
     <hr style="width:50%; margin-left: auto;margin-right: auto;">
     <div class="crompton-cards">
<!-- Card -->
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
        
    </div>
    <!-- <mdb-card-img src="assets/excellence.jpg"></mdb-card-img> -->
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4><span class="material-icons-outlined">
            </span>Brand Excellence</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> The brand “Crompton Greaves” is one of the oldest brands in the country and has a rich legacy associated with great quality, reliability, superior engineering capability, product design and inspires an immense amount of trust.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
        
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4><span class="material-icons-outlined">
            </span>Portfolio Excellence</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> We manage our product portfolio by continuously understanding our consumers better. Consumer insights across categories are critical to sustaining and growing the core product segments and adding new ones
           </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
        
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4><span class="material-icons-outlined">
            </span>Go-To-Market Excellence</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> With a growing range of products and SKUs driven by consumer focussed innovation a critical component of our success is based on being able to deliver the right product to the consumer across the country.
           </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
        
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4><span class="material-icons-outlined">
            </span>Operational Excellence</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> Operational excellence is our ‘end-to-end’ holistic philosophy to improve quality, drive efficiency and standards across all activities that go into delivering the product or service to the consumer.
        </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
        
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4><span class="material-icons-outlined">
            </span>Organisational Excellence</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>As we continue to transform CGCEL into a consumer focussed organisation, we have a strong commitment to build capabilities in the areas of Go-to-Market, Brand and Portfolio Management, Innovation and Operational Excellence. 
           </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <!-- Card -->
     </div>
     <div class="crompton-stats" loading="lazy">
        <div class="stats">

            <animated-digit [digit]="10000" [duration]="5000" loading="lazy"></animated-digit>
            <!-- 10000+ -->
            <div class="stat-desc">
                SKUs to Choose from
            </div>
        </div>
        <div class="stats">
            <!-- 45.12 bn -->
            <animated-digit [digit]="45" [duration]="5000" loading="lazy"></animated-digit>
            <div class="stat-desc">
                revenue (as on March 31, 2020)
            </div>
           
        </div>
        <div class="stats">

            <animated-digit [digit]="1500" [duration]="5000" loading="lazy"></animated-digit>
            <!-- 1500 -->
            <div class="stat-desc">
                Employees strong, and counting
            </div>
        </div>
        
    </div>
</div>
<gvk-footer></gvk-footer>
</div>
