<app-modal #modal></app-modal>
<div class="contact-wrapper">
    <div class="first-section">
        <div class="left-block">
            <div class="text-block">
                <pre>   Contact Us</pre>
                <h2>Contact our Support and Sales team</h2>
                <p>Need to get in touch with the team? We’re all ears.</p>
                <button (click)="openModal()">Contact Us</button>
            </div>
        </div>
        <div class="right-block">
            <img src="/assets/contact-main.jpg" alt="">
        </div>
    </div>
    <div class="second-section">
       
        <div class="left-block">
            <div class="text-block">
                <pre>   Our Office</pre>
                <h2>GVK HQ</h2>
                <p>E: info@gvkengg.com</p>
                <p>#1138, 20th Cross Rd, A Block, Sahakar Nagar, A - Block, Bengaluru, Karnataka 560092</p>
            </div>
        </div>
        <div class="right-block">
            <a href="https://goo.gl/maps/5T6AgRL98CWXi9Jq6">
                <img src="/assets/gmap.png" alt="" >
            </a>
           
        </div>
    </div>
    <gvk-footer></gvk-footer>
</div>