<div class="crompton-wrapper">
    <div class="crompton-logo">
       <img src="assets/clg.png">
        Crompton
    </div>  
    <div class="crompton-slogan">
        Smart solutions. Strong relationships.
    </div>
    <div class="section-header-1">
       Discover Our Range
    </div>
   
    <hr>
    <div class="range-categories">
        <div class="consumer">
            Consumer
        </div>
       
    </div>
    <div class="product-range-cards" >
        <!--Card-->
        <!-- <a href="assets/crompton-fan-decor-catalogue-2020.pdf" target="_blank" rel="noopener noreferrer"> -->

    <mdb-card (click)=fan()>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/crompton-fan.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Fans</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
        Enjoy cool air in your home with ceiling fans from Crompton. The stylish fans will complement the decor of your rooms perfectly.
      </mdb-card-text>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
<!-- </a> -->
    <mdb-card (click)=lighting()>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/crompton-lighting.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Lighting</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
        Our innovative range of lighting solutions let you create the perfect ambience at home. Our products are energy efficient and provide superior light output making homes more comfortable.      </mdb-card-text>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>

    <mdb-card (click)=appliances()>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/crompton-appliances.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Home Appliances</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
        Make your home comfortable with Crompton’s innovative and state-of-the-art range of home appliances.
      </mdb-card-text>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
    <mdb-card (click)=pumps()>

    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/crompton-pumps.png"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/.Card image-->
  
    <!--Card content-->
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <h4>Pumps</h4>
      </mdb-card-title>
  
      <hr>
  
      <!--Text-->
      <mdb-card-text>
        Crompton’s extensive range of consumer pumps for household and special applications are sturdy and provide an unfailing and steadfast performance
      </mdb-card-text>
    </mdb-card-body>
    <!--/.Card content-->
  </mdb-card>
  <!--/.Card-->
    </div>
    <hr>
    <div class="range-categories">
        <div class="professional">
            Professional
        </div>
       
    </div>
    
    <div class="product-range-cards">

        <mdb-card (click)=prolights()>
            
            <!--Card image-->
            <div class="view overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="assets/crompton-professional-lighting.jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/.Card image-->
            
            <!--Card content-->
            <mdb-card-body>
                
                <!--Title-->
                <mdb-card-title>
                    <h4>Lighting</h4>
                </mdb-card-title>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
    </div>  
 
   
</div>