
<div class="products-wrapper">
    <app-carousel></app-carousel>
    <div class="product-line">
      <div class="product left-fit">
        <div class="left">
          <img class="man-with-hat" src="/assets/t-fit-3.png" alt="">
        </div>
        <div class="right">
          <h1 style="color: #f18400;">T-FIT®</h1>
          <p>T-FIT® is a range is of unique, technical insulation products, 
            purpose designed for demanding, highly controlled production environments.
            Each product in the T-FIT® range targets the 
            specific challenges of one particular production area.
            The whole range offers substantial cost of ownership reductions, 
            delivered by exceptional speed of installation and in use performance.
          </p>
          <button [routerLink]="['/t-fit']">Know more</button>   
        </div>
      </div>
       
      <div class="product right-fit">
        <div class="left">
          <h1 style="color: #1a4c86;">CROMPTON</h1>
          <p class="left-content">We are one of the leading consumer companies in India with a 75+ years old brand legacy. As of February 2016, we are an independent company under professional management and have 2 business segments – Lighting and Electrical Consumer Durables. We market our products under the “Crompton” brand name in India and select export markets.

 
          </p>
          <button [routerLink]="['/crompton']">Know more</button>   
        </div>
        <div class="right">
          <img class="man-with-hat" src="/assets/crompton-3.png" alt="">
       </div>
      </div>
      <div class="product left-fit" >
        <div class="left">
          <img class="man-with-hat" src="/assets/lt-3.png" alt="">
        </div>
        <div class="right">
          <h1 style="color: #1a4d87;">L&T ELECTRICAL & AUTOMATION </h1>
          <p>T-FIT® is a range is of unique, technical insulation products, 
            purpose designed for demanding, highly controlled production environments.
            Each product in the T-FIT® range targets the 
            specific challenges of one particular production area.
            The whole range offers substantial cost of ownership reductions, 
            delivered by exceptional speed of installation and in use performance.
          </p>
          <button [routerLink]="['/t-fit']">Know more</button>   
        </div>
      </div>
      <div class="product right-fit">
        <div class="left">
          <h1 style="color: #a03578;">RISHAB INSTRUMENTS</h1>
          <p>T-FIT® is a range is of unique, technical insulation products, 
            purpose designed for demanding, highly controlled production environments.
            Each product in the T-FIT® range targets the 
            specific challenges of one particular production area.
            The whole range offers substantial cost of ownership reductions, 
            delivered by exceptional speed of installation and in use performance.
          </p>
        <button>Know more</button>
        </div>
        <div class="right">
          <img class="man-with-hat" src="/assets/ri-3.png" alt="">
       </div>
      </div>
    </div>
</div>
<gvk-footer></gvk-footer>
