<div class="footer-wrapper">
    <div class="footer-background">
        <img src="/assets/footer.png" alt="">
    </div>
    <div class="footer-content">
        <img src="/assets/gvk-logo-option-2.png" alt="">
        <div class="footer-row">
            <div class="footer-col">
                <h1>FOLLOW US</h1>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Youtube</p>
            </div>
            <div class="footer-col">
                <h1>QUICK LINKS</h1>
                <p>About</p>
                <p>Contact</p>
                <p>T-fit</p>
                <p>Crompton</p>
            </div>
            <div class="footer-col">
                <h1>HELP</h1>
                <p>Pricing</p>
                <p>Get started</p>
                <p>FAQ</p>
            </div>
            <div class="footer-col">
                <h1>CONTACT</h1>
                <p>+919000000000</p>
                <p>info@gvkengg.com</p>
            </div>
        </div>
        <p>Copyright © 2021 GVK Enterprises</p>
        
    </div>
</div>